@import 'reset.scss';
@import 'type.scss';

$primary-font: 'bluu-next';
$secondary-font: 'happy';

body{
  background-color: black;
  font-family: 'bluunext';
  color: white;
}

a{
  color: white;
  text-decoration: none;
}
