@font-face{
  font-family: 'bluunext';
  src: url(fonts/bluunext-bold-webfont.woff2), url(fonts/bluunext-bold-webfont.woff);
}

@font-face{
  font-family: 'happy';
  src: url(fonts/happy-times-at-the-ikob-webfont.woff2), url(fonts/happy-times-at-the-ikob-webfont.woff);
}
